@using Model;

@model List<tblmatchentity>

@{
    ViewBag.Title = "confirm";
    Layout = "~/Views/Shared/_Layout.Edit2.cshtml";
}

@section PageSpecificJavascriptIncludes{

    <script type="text/javascript">

        var r=@ViewBag.error ;

        $(document).ready(function () {
            if(r!=0)
            {
                $("#submit").attr("disabled",true);
            }
        });
    </script>
}

<div class="form-group">
    <span style="font-size:14px; font-weight:bold;">目前比赛：@ViewBag.matchname</span>@if (ViewBag.error != "0")
{
    <span style="color: red; font-size: 14px; font-weight: bold; ">&nbsp;&nbsp;[存在错误信息,请查看检查结果!]</span>
}
else
                                                                                  { 
                                                                                   <span style="color:green; font-size: 14px; font-weight: bold; ">&nbsp;&nbsp;[数据格式全部正确，可以导入!]</span>
                                                                                  }
    @*目前团队：<a class="excel">xXXXX</a>*@

    <div style="border-top:1px solid blue;">
        <table>
            <tr>
                <th width="100">序号</th>
                <th width="160">队伍名称</th>
                @*<th width="120">线路名</th>*@
                <th width="80">队长</th>
                <th width="120">队员姓名</th>
                <th width="80">年龄</th>
                <th width="60">性别</th>
                <th width="180">证件号</th>
                <th width="120">手机号</th>
                <th width="80">状态</th>
                <th width="180" style="color:Red;">检查结果</th>
            </tr>

            @if (Model == null || Model.Count < 1)
            {
                <tr class="">
                    <td colspan=11 style="color:Red;">请检查是否上传了数据及数据格式是否正确</td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr class="">
                        <td>@item.Pnov</td>
                        <td>@item.Teamname</td>
                        @*<td>@item.Lineno</td>*@
                        <td>@item.LeaderM</td>
                        <td>@item.Nickname</td>
                        <td>@item.Age</td>
                        <td>@(item.Sexy.Value == 1 ? "男" : "女")</td>
                        <td>@item.Cardno</td>
                        <td>@item.Mobile</td>
                        <td>@if(item.LeaderM=="是")
                            {
                            if (item.Area2 == "0")
                            {
                                <span>预报名完成</span>
                            }
                            else
                            {
                                <span>支付成功</span>
                            }
                            }
                        </td>
                        <td style="color:Red;">@item.Content</td>
                    </tr>
                }
            }
        </table>

        <input id="matchid" name="matchid" type="hidden" value="@ViewBag.matchid" />
        <input id="fid" name="fid" type="hidden" value="@ViewBag.fid" />

    </div>

</div>

